html{
    background-color: #F7f7f7;
}

body{
    background-color: white;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}



header{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    max-width: 1400px;
    height: 78px;
    padding: 20px;
    position: relative;
    /* position: sticky; */
}

.logo{
    /* margin: 12px; */
    justify-content: flex-start;
    transform: translateX(142px);
}

/* ul { */ 
.nav-ul{
    margin: 0;
    padding: 0;
    display: flex;    
}

.nav-li {
    list-style: none;
    flex-direction: row;
    font-size: 14px;
    line-height: 2;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    transform: translateX(320px);
}

.header-btn{
    /* width: 102px;
    height: 46px; */
    transform: translateX(379px);
    flex-direction: row;
    /* justify-content: flex-end; */
}

.btn{
    margin-right: 14px;
    width: 102px;
    height: 46px;
    color: #173A56;
    border-color: #BCD0E5;
    border-radius: 5px;
    border-style: solid;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.orange{
    background-color: #FF9900;
    color: white;
    border: none;
}

/* .main{
    display:flex;
    flex-direction: column;
    justify-content: center;
} */

.container{
    max-width: 1400px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    /* flex-wrap: wrap; */
}

.superpowers{
    max-width: 1126px;
    max-height: 496px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin: 30px;
    flex-direction: column;
}

.super-title{
    max-width: 518px;
    max-height: 108px;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
}

.super-info{
    max-width: 458px;
    max-height: 95px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
}

.tools{
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.title-tools{
    width: 538px;
    height: 108px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;

}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1095px;
    height: 204px;
    margin: 20px;
}

.btn-tools{
    width: 175px;
    height: 53px;
    border-radius: 5px;
    border-style: solid;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #FF9900;
    color: white;
    border: none;
}
/* .large {
    width: 175px;
    height: 53px;
    display: flex;
    flex-wrap: nowrap;
} */

.design{
    width: 1110px;
    height: 574px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.design-text {
    width: 486px;
    height: 531px;
}

p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.heading-design, h2{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}


.secondary-heading{
    font-style: normal;
    font-weight: bold;
    color: #2F281E;
}

.design-img{
    transform: translateX(145px);
}

.product{
    display: flex;
    width: 1121px;
    height: 521px;
    position: relative;
    /* align-content: center; */
}

.product-info{
    display: flex;
    flex-wrap: wrap;
    width: 486px;
    height: 427px;
    align-content: flex-end;
    justify-content: flex-end;
    /* margin-left: 20px; */
}

.product-text{
    width: 486px;
}

.product-list{
    width: 450px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    list-style-image: url(../Images/check.png);
}

.marketers{
    width: 1110px;
    height: 608px;
    display: flex;
}

.marketers-info{
    width: 486px;
    display: flex;
    flex-direction: column;
}

footer{
    max-width: 1400px;
    height: 400px;
    display: flex;
    margin: 20px;
    
}

.footer-box{
    width: 1109px;
    height: 308px;
    margin: 20px;
    border-top: solid lightgrey 1px;
}

.nav-foot
    {
        display: flex;
    }